body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  height: 100vh;
  margin: 0;
}

a {
  color: #00B7FF;
}
header {
  display: flex;
  align-content: center;
  justify-content:center;
  background-color: rgba(0, 0, 0, 0.2);
  height: 15vh;
}
h1 {
  font-size: 4em;
}
section > h2 {
  text-align: center;
  padding-bottom: 5vh;
}
input {
  display: block;
  margin: 0 auto;
}